<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel='stylesheet' type='text/css' href='/assets/css/style.css'>
	<title>Curricula</title>
</head>
<body>
	{{{body}}}

</div><!--.container-->
    <footer class="site-footer">
    <div class="container">
      <div class="row">
        <h3>footer</h3> 
        </div>
         </div>
    </footer>
</body>
<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/assets/js/main.js"></script>
</html>