<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
	<link rel='stylesheet' type='text/css' href='/assets/css/style.css'> 
	<title>Curricula</title>
</head>
<body>
    <!-- Login Area -->
    <div class="container">
        <div class="row page-header">
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="page-header header_site">
                    <a href="/"><h1 class="logo">LOGOHERE</h1></a>
                </div>
            </div>

            <div class="col-xs-5 col-sm-5 col-lg-5">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" id="searchBtn">Search</button>
                    </div>
                    <input type="text" class="form-control" id="searchBar">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4">
                    <a href="/login" class="btn btn-danger">Login</a>
                    <a href="/register" class="btn btn-danger">Register</a>
                    <a href="/create" class="btn btn-primary">+Create</a>
                    {{!--<span> 
                        <a href="/auth/google" class="btn btn-danger">
                            <span class="fa fa-google-plus"></span> Google
                        </a> 
                    </span>--}}
                </p>
            </div>
        </div>
    
	    {{{body}}}

        <footer class="site-footer">
            <div class="row">
                <h3>footer</h3> 
            </div>
        </footer>
    </div><!--.container-->
</body>
<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/search.js"></script>
</html>