<div class="container">
        <div class="row">
            <div class="page-header header_site">
                <h1 class="logo">{{name}}</h1>
            </div>
        </div>
    </div>

<div id="wrap">  
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <div class="container-title card-2">
               
            <textarea rows='4' cols = '50' class='field-title' placeholder="Click here to add a title"></textarea>
              </div>
            </div>
            <div class="col-sm-7">                
                <form class="form-curriculum card-2">
                  <div id="fields-form">
                  </div>
                </form>
            </div>

        <div class="col-sm-1">
            <div class="button-container card-2">
               
<button type="button" class="btn-form" id="add-link">
<i class="fa fa-plus icon-form" aria-hidden="true"></i><br>
                Add Link</button>
                <button type="button" class="btn-form" id="save-form">
<i class="fa fa-file icon-form" aria-hidden="true"></i><br>

                Save Links</button>
                <button type="button" class="btn-form" id="publish-form">
<i class="fa fa-thumbs-up icon-form" aria-hidden="true"></i><br>

                Publish Links</button>
            </div>
          </div>
        </div>
    </div>
</div>

