<div id="wrap">
    <div class="container">
        <div class="row">
           <h3> test ariene<h3>
            <div class="col-sm-12">
                <div class="form-curriculum card-2 ">
                    <div id="fields-form">
                        <section class="title-form">
                        <form id="create-form" method="POST" name="create-links">
                        <input type="text" name="curricula_name" class='field-title' id="curricula_name" value="" placeholder="Add a Title" required><br>
                         <textarea rows='4' cols='50' class='field-description12' id="curricula_description" placeholder="Click here to add a description" required></textarea>
                         </section>
                </div>
                       <span >Status:</span> <div id="field-status">In Progress</div>
                    </div>
<section id="category">
    Category:  <select id="category-curricula">
                {{#each showCurricula}}
                    <option value="{{this.category}}">{{this.category}}</option>  
                {{/each}}
                    <option value="add">Add New Category</option>  
            </select>

 Sub Category:  <select id="sub-category">
                {{#each showCurricula}}
                    <option value="{{this.sub_category}}">{{this.sub_category}}</option>  
                {{/each}}
                    <option value="add">Add New SubCategory</option>  
            </select>

    </section>

<section id="tags">
Tags:
        <input type="text" name="curricula_tags" class='field-tags' id="curricula_tag" value="" placeholder="Click here to add a Tags" required>


    </section>


                </div>



            </div>

            <div class="col-sm-1">
                <div class="button-container card-2">
                    <button class="btn-form" id="save">
                        <i class="fa fa-file icon-form" aria-hidden="true"></i>
                        <br> Save Links
                    </button>
                   

                <input type="hidden" name="status" value="" id="status">
                  
                </div>
                </form>
            </div>
    </div>
</div>