
<div id="wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="container-title profile-text">
                    <h3>{{this.username}}</h3>

                    <img class="img-responsive img-rounded profile-pic" src="/assets/images/blankprofile.png" alt="profile pic">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo justo, rutrum vitae placerat in, posuere at magna. Mauris quis porttitor felis. In vel ligula neque. Curabitur suscipit ante et eros consectetur pulvinar.</p>
                </div>
 
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container-title profile-text">


                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo justo, rutrum vitae placerat in, posuere at magna. Mauris quis porttitor felis. In vel ligula neque. Curabitur suscipit ante et eros consectetur pulvinar. Nunc egestas sodales arcu non congue. Sed pretium ullamcorper tincidunt. Ut ut egestas arcu, vel luctus velit. Suspendisse aliquam nunc ornare aliquet consectetur. Fusce gravida luctus fermentum. Fusce efficitur posuere ligula ac dapibus. Nunc lacinia odio eget augue rhoncus dictum.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>