@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700);
/* larger screens (devices and browsers)  */
/* desktop screens (devices and browsers)  */
/* Tablet Portrait Size to Standard 960 (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* Mobile */
.header_site {
  padding-top: 10px;
  border-bottom: 0px solid #eee; }

.logo {
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
  width: 80%;
  height: 100%; }

.page-header {
  margin: 0 0 20px; }

.page-header h1 {
  margin-top: 0; }

.search-section,
.nav-top {
  padding-top: 40px;
  margin-bottom: 60px;
  float: right; }

footer {
  height: 90px;
  padding-left: 29px;
  color: #edf1fc; }
  footer h3 {
    padding: 20px 0px 0px 0px;
    font-size: 16px; }

.title-step {
  height: 50px;
  color: #fff;
  padding: 10px;
  width: 100%;
  background: #4568DC; }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card {
  background: #fff;
  padding-top: 20px;
  border-radius: 2px;
  height: 100%;
  width: 100%; }

.field-title,
.link {
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #b1bcd0; }

textarea {
  height: 150px;
  background: #edf1fc;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

#category {
  margin-top: 20px;
  margin-bottom: 20px; }

#subcat {
  margin-bottom: 20px; }

.descritpion {
  border: none;
  outline: none;
  width: 100%;
  background: #edf1fc;
  height: 70px;
  font-style: italic;
  margin-bottom: -30px; }

.field-tags {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #edf1fc;
  height: 50px;
  font-style: italic; }

button.save {
  width: 250px;
  height: 70px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: #4568DC;
  border: none;
  color: #fff; }

.form-status {
  height: 85px;
  color: #fff;
  background: #4568DC; }

button.search {
  background: #4568DC;
  color: #fff; }

.icon-header {
  color: #fff;
  padding-top: 20px;
  font-size: 22px;
  padding-right: 4px; }

.btn-header {
  color: #fff;
  color: #fff;
  margin-top: 11px;
  float: right;
  padding-left: 20px; }

.header-form {
  text-align: center;
  padding-top: 20px; }
  .header-form h1 {
    font-size: 30px !important;
    margin-bottom: 2px; }

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.alert-msg {
  border: 1px solid red; }

#dialog {
  display: none; }

h1.user {
  font-size: 25px;
  color: #4568DC;
  padding-left: 16px;
  margin-bottom: 40px;
  padding-top: 10px; }

.profile-pic {
  margin-top: -53px;
  padding: 16px; }

p.user-profile-text {
  margin-top: 10px; }

.card-home {
  margin-bottom: 30px; }
  .card-home .card-title {
    color: #fff;
    background: #4568DC;
    margin-top: -20px;
    padding: 20px; }
  .card-home .caption {
    padding: 20px; }
  .card-home .icon-home {
    color: #4568DC;
    font-size: 20px; }

.card-title {
  color: #fff;
  background: #4568DC;
  margin-top: -3px;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  font-size: 20px; }

h4.category-details {
  color: #4568DC;
  font-size: 18px; }

h4.details-step {
  font-size: 18px;
  text-transform: uppercase;
  color: #6d737c; }

.icon-details {
  color: #4568DC; }

.side-bar-title {
  color: #fff;
  background: #4568DC;
  margin-top: -3px;
  padding: 17px;
  width: 90%;
  height: 60px;
  margin-bottom: 10px;
  margin-left: 13px;
  font-size: 18px; }

.related {
  padding: 6px 10px 10px 15px; }
  .related h4 {
    font-size: 16px;
    color: #000; }
  .related a.realted-link {
    color: #6d737c; }
    .related a.realted-link:hover, .related a.realted-link:focus, .related a.realted-link:visited {
      color: #4568DC; }

.details {
  padding-bottom: 10px; }

html,
body {
  height: 100%;
  padding: 0;
  background: #c5cee2;
  font-family: 'Lato', sans-serif; }

#wrap {
  min-height: 80%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px; }

#voteArea {
  border-width: 0;
  float: right; }

#vote {
  display: none; }

.curriculacardHidden {
  visibility: hidden;
}

