.card-home {
    margin-bottom: 30px;
    .card-title {
        margin-top: -20px;
        padding: 20px;
        @include header-title($white, $blue, 100%, 100%);
    }
    .caption {
        padding: 20px;
    }
    .icon-home {
        color: $blue;
        font-size: 20px;
    }
}