.card-home {
    margin-bottom: 30px;
    .card-title {
        color: $white;
        background: $blue;
        margin-top: -20px;
        padding: 20px;
    }
    .caption {
        padding: 20px;
    }
    .icon-home {
        color: $blue;
        font-size: 20px;
    }
}