                                /* larger screens (devices and browsers)  */
                                
                                @mixin desktop-large {
                                    @media only screen and (min-width: map-get($breakpoints, 'desktop-lrg')) {
                                        @content;
                                    }
                                }
                                /* desktop screens (devices and browsers)  */
                                
                                @mixin desktop {
                                    @media only screen and (min-width: map-get($breakpoints, 'desktop')) {
                                        @content;
                                    }
                                }
                                /* Tablet Portrait Size to Standard 960 (devices and browsers) */
                                
                                @mixin tablet {
                                    @media only screen and (min-width: map-get($breakpoints, 'min-tablet')) and (max-width: map-get($breakpoints, 'max-tablet')) {
                                        @content;
                                    }
                                }
                                /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
                                
                                @mixin phoneland {
                                    @media only screen and (min-width: map-get($breakpoints, 'min-phone')) and (max-width: map-get($breakpoints, 'max-phone')) {
                                        @content;
                                    }
                                }
                                /* Mobile */
                                
                                @mixin phone {
                                    @media only screen and (max-width: map-get($breakpoints, 'phone')) {
                                        @content;
                                    }
                                }
                                
                                @mixin clearfix {
                                    *zoom: 1;
                                    &:before,
                                    &:after {
                                        content: ' ';
                                        display: table;
                                    }
                                    &:after {
                                        clear: both;
                                    }
                                }
                                
                                @mixin transition($transition, $background, $color) {
                                    -moz-transition: $transition;
                                    -o-transition: $transition;
                                    -webkit-transition: $transition;
                                    transition: $transition;
                                    background-color: $background;
                                    color: $color;
                                }
                                
                                @mixin header-title($color, $background, $heigth, $width) {
                                    color: color;
                                    background: $background;
                                    padding: 20px;
                                    width: $width;
                                    height: $heigth;
                                }