$white: #fff;
$blue: #00a6d7;
$gray: #b1bcd0;
$pink: #e17e7f;
$accent-color: #533661;
$color-text-primary: $white;
$background-blue:$blue;
$background-gray:$gray;
$background-white:#fff;
$input-background: #cdcfd0;
$border-dashed: #b4b4b6;
$alert: red;
$saved: green;