$white: #fff;
$blue: #4568DC;
$gray: #b1bcd0;
$pink: #e17e7f;
$purple:#B06AB3;
$gray-title: #6d737c;
$light-Purple: #edf1fc;
$accent-color: $light-Purple;
$color-text-primary: $light-Purple;
$background-blue:$blue;
$background-gray:$gray;
$background-white:#fff;
$input-background: #cdcfd0;
$border-dashed: #b4b4b6;
$alert: red;
$saved: green;