@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700);
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'form';
@import 'home';
@import 'details';
html,
body {
    height: 100%;
    padding: 0;
    background: #c5cee2;
    font-family: 'Lato', sans-serif;
}

#wrap {
    min-height: 80%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}

#voteArea {
    border-width: 0;
    float: right;
}

#vote {
    display: none;
}

#alert-msgs,
#resultsBox {
    font-weight: bolder;
    text-align: center;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}
.curriculacardHidden {
  visibility: hidden;
}