@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700);
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'form';
html,
body {
    height: 100%;
    padding: 0;
    background: -webkit-linear-gradient(rgba(204, 211, 229, 0.98) 5%, rgba(204, 211, 229, 0.98) 22%, rgba(177, 188, 215, 0.97) 66%, rgba(157, 172, 205, 0.97) 100%);
    background: -moz-linear-gradient(rgba(204, 211, 229, 0.98) 5%, rgba(204, 211, 229, 0.98) 22%, rgba(177, 188, 215, 0.97) 66%, rgba(157, 172, 205, 0.97) 100%);
    background: -o-linear-gradient(rgba(204, 211, 229, 0.98) 5%, rgba(204, 211, 229, 0.98) 22%, rgba(177, 188, 215, 0.97) 66%, rgba(157, 172, 205, 0.97) 100%);
    background: linear-gradient(rgba(204, 211, 229, 0.98) 5%, rgba(204, 211, 229, 0.98) 22%, rgba(177, 188, 215, 0.97) 66%, rgba(157, 172, 205, 0.97) 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#wrap {
    min-height: 80%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}